node_modules

# vitepress build output
.vitepress/dist
.vitepress/cache
.vitepress/.temp

# dotenv environment variables file
/.env
/.env.*
/!.env.example

# misc
template.md
template.ts
*.temp
*.temp.js
.vitepress/config.ts.timestamp-*.mjs
