:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

html {
	/* 平滑滚动 */
	scroll-behavior: smooth;
}

.content-container {
	img {
		cursor: zoom-in;
	}
	.secondary {
		color: var(--vp-c-text-3);
	}
	.no-select {
		user-select: none;
	}
	code {
		white-space: nowrap;
	}
}

.VPSidebarItem.is-link {
	.item > .link {
		.text {
			font-size: 13px;
		}
		&:hover {
			.text {
				color: #42b883 !important;
			}
		}
	}
	&.is-active {
		.item .link > .text {
			font-weight: 700;
			color: #42b883 !important;
		}
	}
}

// .VPDoc.has-aside .content .content-container{
// 	max-width: 726px;
// }

li::marker {
	color: var(--list-marker);
}

.VPSidebar::-webkit-scrollbar {
	width: 6px;
}

.VPSidebar::-webkit-scrollbar-thumb {
	background-color: var(--aside-scroll);
}

.VPSidebar::-webkit-scrollbar-thumb:hover {
	background-color: var(--aside-scroll-hover);
}

table{
	&.stretch {
		width: 100%;
		display: table;
	}
	&.title-center{
		th{
			text-align: center;
		}
	}
}
