/* 参考：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/**
 * 基础颜色
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-gray-1: #dddde3;
	--vp-c-gray-2: #e4e4e9;
	--vp-c-gray-3: #ebebef;
	--vp-c-gray-soft: rgba(142, 150, 170, 0.14);

	--vp-c-indigo-1: #3451b2;
	--vp-c-indigo-2: #3a5ccc;
	--vp-c-indigo-3: #5672cd;
	--vp-c-indigo-soft: rgba(100, 108, 255, 0.14);

	--vp-c-green-1: #18794e;
	--vp-c-green-2: #299764;
	--vp-c-green-3: #30a46c;
	--vp-c-green-soft: rgba(16, 185, 129, 0.14);

	--vp-c-yellow-1: #915930;
	--vp-c-yellow-2: #946300;
	--vp-c-yellow-3: #9f6a00;
	--vp-c-yellow-soft: rgba(234, 179, 8, 0.14);

	--vp-c-red-1: #b8272c;
	--vp-c-red-2: #d5393e;
	--vp-c-red-3: #e0575b;
	--vp-c-red-soft: rgba(244, 63, 94, 0.14);

	--vp-c-sponsor: #db2777;
}

.dark {
	--vp-c-gray-1: #515c67;
	--vp-c-gray-2: #414853;
	--vp-c-gray-3: #32363f;
	--vp-c-gray-soft: rgba(101, 117, 133, 0.16);

	--vp-c-indigo-1: #a8b1ff;
	--vp-c-indigo-2: #5c73e7;
	--vp-c-indigo-3: #3e63dd;
	--vp-c-indigo-soft: rgba(100, 108, 255, 0.16);

	--vp-c-green-1: #3dd68c;
	--vp-c-green-2: #30a46c;
	--vp-c-green-3: #298459;
	--vp-c-green-soft: rgba(16, 185, 129, 0.16);

	--vp-c-yellow-1: #f9b44e;
	--vp-c-yellow-2: #da8b17;
	--vp-c-yellow-3: #a46a0a;
	--vp-c-yellow-soft: rgba(234, 179, 8, 0.16);

	--vp-c-red-1: #f66f81;
	--vp-c-red-2: #f14158;
	--vp-c-red-3: #b62a3c;
	--vp-c-red-soft: rgba(244, 63, 94, 0.16);
}

/**
 * 主要颜色
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-default-1: var(--vp-c-gray-1);
	--vp-c-default-2: var(--vp-c-gray-2);
	--vp-c-default-3: var(--vp-c-gray-3);
	--vp-c-default-soft: var(--vp-c-gray-soft);

	--vp-c-brand-1: var(--vp-c-green-1);
	--vp-c-brand-2: var(--vp-c-green-2);
	--vp-c-brand-3: var(--vp-c-green-3);
	--vp-c-brand-soft: var(--vp-c-green-soft);

	/* DEPRECATED: Use `--vp-c-brand-1` instead. */
	--vp-c-brand: var(--vp-c-brand-1);

	--vp-c-tip-1: var(--vp-c-brand-1);
	--vp-c-tip-2: var(--vp-c-brand-2);
	--vp-c-tip-3: var(--vp-c-brand-3);
	--vp-c-tip-soft: var(--vp-c-brand-soft);

	--vp-c-warning-1: var(--vp-c-yellow-1);
	--vp-c-warning-2: var(--vp-c-yellow-2);
	--vp-c-warning-3: var(--vp-c-yellow-3);
	--vp-c-warning-soft: var(--vp-c-yellow-soft);

	--vp-c-danger-1: var(--vp-c-red-1);
	--vp-c-danger-2: var(--vp-c-red-2);
	--vp-c-danger-3: var(--vp-c-red-3);
	--vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * 背景颜色
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-bg: #ffffff;
	--vp-c-bg-alt: #f6f6f7;
	--vp-c-bg-elv: #ffffff;
	--vp-c-bg-soft: #f6f6f7;
}

.dark {
	--vp-c-bg: #212121;
	--vp-c-bg-alt: #1a1a1a;
	--vp-c-bg-elv: #272727;
	--vp-c-bg-soft: #272727;
}

/**
 * 边框颜色
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-border: #c2c2c4;
	--vp-c-divider: #e2e2e3;
	--vp-c-gutter: #e2e2e3;
}

.dark {
	--vp-c-border: #3c3f44;
	--vp-c-divider: #2e2e32;
	--vp-c-gutter: #000000;
}

/**
 * 文字颜色
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-text-1: rgba(60, 60, 67);
	--vp-c-text-2: rgba(60, 60, 67, 0.78);
	--vp-c-text-3: rgba(60, 60, 67, 0.56);
}

.dark {
	--vp-c-text-1: rgba(240, 240, 240, 0.86);
	--vp-c-text-2: rgba(220, 220, 220, 0.6);
	--vp-c-text-3: rgba(220, 220, 220, 0.38);
}

/**
 * 自定义颜色
 * -------------------------------------------------------------------------- */
:root {
	--sub-page-header-bg: #f6f6f7;
  --sub-page-border-color: #e6e6e6;
  --sub-page-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --sub-page-radius: 8px;

	--demo-bg: #f6f6f7;
	--demo-header-bg: #f6f6f7;
  --demo-border-color: #e6e6e6;
  --demo-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --demo-radius: 8px;
}

.dark {
	--sub-page-header-bg: #292929;
  --sub-page-border-color: #383838;
  --sub-page-shadow: 0px 0px 12px rgba(0, 0, 0, 0.72);

	--demo-bg: #1a1a1a;
	--demo-header-bg: #292929;
  --demo-border-color: #383838;
  --demo-shadow: 0px 0px 12px rgba(0, 0, 0, 0.72);
}
